/* เกี่ยวกับคณะ */
.subject-about-setting-colour-animate:before {
  background-color: #1da300;
}
.nav-drop-down--hover-about-setting span:before,
.nav-drop-downcontainer-about-setting:before {
  background-color: #1da300;
}
.subject-history-colour-animate:before {
  background-color: #3340df;
}
.nav-drop-down--hover-history span:before,
.nav-drop-downcontainer-history:before {
  background-color: #3340df;
}
.subject-structure-colour-animate:before {
  background-color: #078781;
}
.nav-drop-down--hover-structure span:before,
.nav-drop-downcontainer-structure:before {
  background-color: #078781;
}
.subject-identity-colour-animate:before {
  background-color: #e0e256;
}
.nav-drop-down--hover-identity span:before,
.nav-drop-downcontainer-identity:before {
  background-color: #e0e256;
}
.subject-emblem-colour-animate:before {
  background-color: #008ff9;
}
.nav-drop-down--hover-emblem span:before,
.nav-drop-downcontainer-emblem:before {
  background-color: #008ff9;
}
.subject-flowers-colour-animate:before {
  background-color: #8a0d15;
}
.nav-drop-down--hover-flowers span:before,
.nav-drop-downcontainer-flowers:before {
  background-color: #8a0d15;
}
.subject-color-colour-animate:before {
  background-color: #d7ae1c;
}
.nav-drop-down--hover-color span:before,
.nav-drop-downcontainer-color:before {
  background-color: #d7ae1c;
}
.subject-music-colour-animate:before {
  background-color: #742391;
}
.nav-drop-down--hover-music span:before,
.nav-drop-downcontainer-music:before {
  background-color: #742391;
}
.subject-award-colour-animate:before {
  background-color: #39f0f3;
}
.nav-drop-down--hover-award span:before,
.nav-drop-downcontainer-award:before {
  background-color: #39f0f3;
}
.subject-location-colour-animate:before {
  background-color: #f339a6;
}
.nav-drop-down--hover-location span:before,
.nav-drop-downcontainer-location:before {
  background-color: #f339a6;
}
/* หลักสูตร */
.subject-bachelor-colour-animate:before {
  background-color: #742391;
}
.nav-drop-down--hover-bachelor span:before,
.nav-drop-downcontainer-bachelor:before {
  background-color: #742391;
}
.subject-master-colour-animate:before {
  background-color: #39f0f3;
}
.nav-drop-down--hover-master span:before,
.nav-drop-downcontainer-master:before {
  background-color: #39f0f3;
}
.subject-phd-colour-animate:before {
  background-color: #f339a6;
}
.nav-drop-down--hover-phd span:before,
.nav-drop-downcontainer-phd:before {
  background-color: #f339a6;
}
/* หน่วยงาน  */
.subject-ge-colour-animate:before {
  background-color: #008ff9;
}
.nav-drop-down--hover-ge span:before,
.nav-drop-downcontainer-ge:before {
  background-color: #008ff9;
}
.subject-hr-colour-animate:before {
  background-color: #742391;
}
.nav-drop-down--hover-hr span:before,
.nav-drop-downcontainer-hr:before {
  background-color: #742391;
}
.subject-fin-colour-animate:before {
  background-color: #8a0d15;
}
.nav-drop-down--hover-fin span:before,
.nav-drop-downcontainer-fin:before {
  background-color: #8a0d15;
}
.subject-qa-colour-animate:before {
  background-color: #6746ff;
}
.nav-drop-down--hover-qa span:before,
.nav-drop-downcontainer-qa:before {
  background-color: #6746ff;
}
.subject-plan-colour-animate:before {
  background-color: #078781;
}
.nav-drop-down--hover-plan span:before,
.nav-drop-downcontainer-plan:before {
  background-color: #078781;
}
.subject-folders-colour-animate:before {
  background-color: #a38500;
}
.nav-drop-down--hover-folders span:before,
.nav-drop-downcontainer-folders:before {
  background-color: #a38500;
}
.subject-stock-colour-animate:before {
  background-color: #33dfa3;
}
.nav-drop-down--hover-stock span:before,
.nav-drop-downcontainer-stock:before {
  background-color: #33dfa3;
}
.subject-bu-colour-animate:before {
  background-color: #f339a6;
}
.nav-drop-down--hover-bu span:before,
.nav-drop-downcontainer-bu:before {
  background-color: #f339a6;
}

/*  */
.subject-su-colour-animate:before {
  background-color: #3de7c8;
}
.nav-drop-down--hover-su span:before,
.nav-drop-downcontainer-su:before {
  background-color: #3de7c8;
}
.subject-student-colour-animate:before {
  background-color: #d7ae1c;
}
.nav-drop-down--hover-student span:before,
.nav-drop-downcontainer-student:before {
  background-color: #d7ae1c;
}
.subject-syllabus-colour-animate:before {
  background-color: #008ff9;
}
.nav-drop-down--hover-syllabus span:before,
.nav-drop-downcontainer-syllabus:before {
  background-color: #008ff9;
}
.subject-research-colour-animate:before {
  background-color: #742391;
}
.nav-drop-down--hover-research span:before,
.nav-drop-downcontainer-research:before {
  background-color: #742391;
}
.subject-gradttmed-colour-animate:before {
  background-color: #8a0d15;
}
.nav-drop-down--hover-gradttmed span:before,
.nav-drop-downcontainer-gradttmed:before {
  background-color: #8a0d15;
}
.subject-clerkship-colour-animate:before {
  background-color: #6746ff;
}
.nav-drop-down--hover-clerkship span:before,
.nav-drop-downcontainer-clerkship:before {
  background-color: #6746ff;
}
.subject-examination-colour-animate:before {
  background-color: #078781;
}
.nav-drop-down--hover-examination span:before,
.nav-drop-downcontainer-examination:before {
  background-color: #078781;
}
.subject-inter-colour-animate:before {
  background-color: #a38500;
}
.nav-drop-down--hover-inter span:before,
.nav-drop-downcontainer-inter:before {
  background-color: #a38500;
}
.subject-library-colour-animate:before {
  background-color: #33dfa3;
}
.nav-drop-down--hover-library span:before,
.nav-drop-downcontainer-library:before {
  background-color: #33dfa3;
}
.subject-av-colour-animate:before {
  background-color: #f339a6;
}
.nav-drop-down--hover-av span:before,
.nav-drop-downcontainer-av:before {
  background-color: #f339a6;
}
.subject-it-colour-animate:before {
  background-color: #3de7c8;
}
.nav-drop-down--hover-it span:before,
.nav-drop-downcontainer-it:before {
  background-color: #3de7c8;
}

/*  */
.subject-hosp-colour-animate:before {
  background-color: #d7ae1c;
}
.nav-drop-down--hover-hosp span:before,
.nav-drop-downcontainer-hosp:before {
  background-color: #d7ae1c;
}
.subject-hiring-colour-animate:before {
  background-color: #078781;
}
.nav-drop-down--hover-hiring span:before,
.nav-drop-downcontainer-hiring:before {
  background-color: #078781;
}
.subject-med-colour-animate:before {
  background-color: #e0e256;
}
.nav-drop-down--hover-med span:before,
.nav-drop-downcontainer-med:before {
  background-color: #e0e256;
}
.subject-drugs-colour-animate:before {
  background-color: #008ff9;
}
.nav-drop-down--hover-drugs span:before,
.nav-drop-downcontainer-drugs:before {
  background-color: #008ff9;
}
.subject-massage-colour-animate:before {
  background-color: #8a0d15;
}
.nav-drop-down--hover-massage span:before,
.nav-drop-downcontainer-massage:before {
  background-color: #8a0d15;
}
.subject-midwifery-colour-animate:before {
  background-color: #f339a6;
}
.nav-drop-down--hover-midwifery span:before,
.nav-drop-downcontainer-midwifery:before {
  background-color: #f339a6;
}

/* บุคลากร  */
.subject-executive-colour-animate:before {
  background-color: #008ff9;
}
.nav-drop-down--hover-executive span:before,
.nav-drop-downcontainer-executive:before {
  background-color: #008ff9;
}
.subject-faculty-colour-animate:before {
  background-color: #742391;
}
.nav-drop-down--hover-faculty span:before,
.nav-drop-downcontainer-faculty:before {
  background-color: #742391;
}
.subject-professional-colour-animate:before {
  background-color: #8a0d15;
}
.nav-drop-down--hover-professional span:before,
.nav-drop-downcontainer-professional:before {
  background-color: #8a0d15;
}
.subject-academic-colour-animate:before {
  background-color: #6746ff;
}
.nav-drop-down--hover-academic span:before,
.nav-drop-downcontainer-academic:before {
  background-color: #6746ff;
}
.subject-other-colour-animate:before {
  background-color: #078781;
}
.nav-drop-down--hover-other span:before,
.nav-drop-downcontainer-other:before {
  background-color: #078781;
}
.subject-teaching-colour-animate:before {
  background-color: #a38500;
}
.nav-drop-down--hover-teaching span:before,
.nav-drop-downcontainer-teaching:before {
  background-color: #a38500;
}
.subject-general-colour-animate:before {
  background-color: #33dfa3;
}
.nav-drop-down--hover-general span:before,
.nav-drop-downcontainer-general:before {
  background-color: #33dfa3;
}
.subject-support-colour-animate:before {
  background-color: #f339a6;
}
.nav-drop-down--hover-support span:before,
.nav-drop-downcontainer-support:before {
  background-color: #f339a6;
}
.subject-department-colour-animate:before {
  background-color: #3de7c8;
}
.nav-drop-down--hover-department span:before,
.nav-drop-downcontainer-department:before {
  background-color: #3de7c8;
}
.subject-hospital-colour-animate:before {
  background-color: #d7ae1c;
}
.nav-drop-down--hover-hospital span:before,
.nav-drop-downcontainer-hospital:before {
  background-color: #d7ae1c;
}
